body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #2E8B57, #4682B4), url('logo.png') center/cover;

}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    margin-top: 350px;
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semi-transparente */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

section {
    margin-bottom: 20px;
}

h2 {
    color: #666;
}

ul {
    padding-left: 20px;
}

li {
    margin-bottom: 5px;
}

.custom-alert {
    background-color: rgba(255, 255, 255, 0.8); /* Color de fondo semi-transparente */
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.message {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.sub-message {
    font-size: 18px;
    color: #666;
}

.custom-alert {
    display: none;
    position: fixed;
    top: 50px; /* Cambia la posición vertical a 50px desde la parte superior */
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.close-btn {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}